### News category dataset: https://www.kaggle.com/rmisra/news-category-dataset

Dataset containig headline and short description of news

In [1]:
## Basics
import pandas as pd
import pickle
import numpy as np

## NLTK
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

---

### News data

In [2]:
data = pd.read_json('data/News_Category_Dataset_v2.json', lines=True)

In [3]:
data.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

### For a better visualization we're going to select a smaller subset

### The selected categories are:
### * POLITICS
### * ENTERTAINMENT
### * TRAVEL

In [5]:
politics = data[data['category']=='POLITICS'] 
entertainment = data[data['category']=='ENTERTAINMENT']
travel = data[data['category']=='TRAVEL']

In [6]:
df = pd.concat([politics, entertainment, travel])

In [7]:
train = df.sample(frac=0.95)
test = df.drop(train.index)

In [8]:
df.category.value_counts()

POLITICS         32739
ENTERTAINMENT    16058
TRAVEL            9887
Name: category, dtype: int64

### The clustering will be based on the news headlines

In [9]:
train_headlines = train['headline'].to_list()
test_headlines = test['headline'].to_list()

### Saving the hedlines text into an pickle file

In [10]:
with open('data/train.pkl', 'wb') as f:
    pickle.dump(train_headlines, f)

with open('data/test.pkl', 'wb') as f:
    pickle.dump(test_headlines, f)